<?xml version="1.0"?>
<model>
  <name>cone-test</name>
  <version>1.0</version>
  <sdf version="1.7">model.sdf</sdf>
  <author>
    <name>Tomas Nagy</name>
    <email>nagytom4@fel.cvut.cz</email>
  </author>
  <description>
    The official cone for Purdue evGrand Prix Autonomous 2022.
    See https://www.trafficsafetystore.com/traffic-cones/orange-liteweight-28#CE28.
  </description>
</model>
